<p id="notice"><%= notice %></p>

<h1>Trades</h1>

<table border=1>
  <thead>
    <tr>
      <th>Trade Status</th>
      <th>Price Per bitcoin</th>
      <th>Amount Requested (USD)</th>
      <th>Amount Requested (Bitcoin)</th>
      <th>Trade Hash</th>
      <th>Offer Hash</th>
      <th>Trade URL</th>
    </tr>
  </thead>

  <tbody>
    <% @trades.each do |trade| %>
      <tr>
        <td><%= trade["trade_status"] %></td>
        <td><%= trade["fiat_price_per_btc"] + "USD" %></td>
        <td><%= trade["fiat_amount_requested"] %></td>
        <td><%= trade["crypto_amount_requested"] %></td>
        <td><%= trade["trade_hash"] %></td>
        <td><%= trade["offer_hash"] %></td>
        <td><%= url_for controller: 'charges', action: 'new',  host: 'trading-app-dineshdhoom.c9users.io', protocol: 'https',trade_hash: trade["trade_hash"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trade', new_trade_path %>
