<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @trade.amount %>
</p>

<p>
  <strong>Url:</strong>
  <%= @trade.url %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
